# deps
node_modules/
**/node_modules/
.expo/
**/.expo/
**/.idea/

# build
dist/
build/
**/dist/
**/build/
**/debug.keystore

# env
.env
.env.*
*.local
!.env.production.example

# logs
*.log
desktop.ini

# uploads / files persos
uploads/
public/uploads/
apps/**/uploads/
.vercel
supabase/.temp/
